//$navbar-default-bg: #5d9b17;
$navbar-default-link-color: #ededed;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  -webkit-box-shadow: 4px 13px 20px -3px rgb(102, 102, 102);
  -moz-box-shadow: 4px 13px 20px -3px rgb(102, 102, 102);
  box-shadow: 4px 13px 20px -3px rgb(102, 102, 102);
}

#logo {
  float: left;
  font-size: 1.73em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: asset_url('macbook');
  background-size: cover;
  height: 500px;
  margin: 5em 0 8em 0;
  -webkit-box-shadow: 1px 1px 20px 12px rgba(0,0,0,0.71);
  -moz-box-shadow: 1px 1px 20px 12px rgba(0,0,0,0.71);
  box-shadow: 1px 1px 20px 12px rgba(0,0,0,0.71);
  h1 {
    color: #ededed;
    text-shadow: 2px 3px #000;
  }
}

.article-meta-data {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.description {
  margin-top: 0;
}

#footer {
  -webkit-box-shadow: -1px -11px 14px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -11px 14px -2px rgba(0,0,0,0.75);
  box-shadow: -1px -11px 14px -2px rgba(0,0,0,0.75);
  margin-top: 50px;
  margin-bottom: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}